:root {
    --purple: #7d29c2;
}


.emojis{
    font-size: 500%;
    color: gray;
}
.emoji_scale{
    text-align: center;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    width: 350px;
    border-radius: 50px;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: clamp(65px, 12vw, 100px);;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--purple);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}
.logo {
    box-sizing: border-box;
    background-color: white;
    height: 45px;
    padding-left: 24px;
    width: 150px;
}
.logo img {
    height: 45px;
}



main {
    margin-top: 20vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-bottom: 280px;
}

.two-buttons {
    align-self: center;
}

button {
    background-color: var(--purple);
    border: white 3px solid;
    border-radius: 10px;
    padding: 30px;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

main a {
    text-decoration: none;
    color: white;
}

button:hover, button:active {
    font-weight: 800;
    border: 6px solid white;
} 

.second-question {
    margin-top: 100px;
}
